* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-form {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.load-more {
  display: block;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

button {
  border-radius: 5px;
}

.is-hidden {
  display: none;
}

.gallery {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  gap: 20px;
  /* padding-top: 30px; */
}

.gallery_item {
  flex-basis: calc((100% - 20px) / 5);
}

.photo-card {
  /* object-fit: cover; */
  /* /* width: 100%; */

  height: 100%;
  padding-bottom: 10px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}

.info {
  display: flex;
  justify-content: space-around;
}

.info-item {
  display: flex;
  flex-direction: column;
}
